.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 58px 0;

    @include r($sm) {
        padding: 14px 0;
    }
}

.sticky {
    background-color: $bright-white;
    padding: 30px 0;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 7px;
    position: relative;

    &__burger {
        display: none;

        @include r($sm) {
            display: block;
            @include burger-menu;
        }
    }

}

.menu-top {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 0 auto;
    align-items: center;
    position: relative;

    @include r($sm) {
        position: fixed;
        left: -2000px;
    }

    &__item {
        margin-right: 46px;

        &:last-child {
            margin-right: 0;
        }

        @include r($sm) {
            margin: 0 0 20px 0;
        }
    }

}

.menu-top-link {
    border-radius: 5px;
    transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

    &:focus{
        @include accent-focus;
    }

    &:hover{
        @include accent-hover;
    }

    &:active{
        @include accent-active;
    }

    &--active {
        color: $accent;
    }
}

.icon-menu {
    display: flex;
    gap: 10px;
    align-items: center;

    @include r($sm) {
        margin: 0 16px 0 auto;
    }

    &__btn {
        display: block;
        padding: 22px;
        position: relative;
        border-radius: 5px;
        transition: box-shadow 0.3s, background-color 0.3s, filter 0.1s;

        &:focus{
            @include icon-focus;
        }

        &:hover{
            @include icon-hover;
        }
    
        &:active{
            @include icon-active;
        }

        &::before {
            content: '';
            position: absolute;
            width: 19px;
            height: 19px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            top: 12px;
            left: 12px;
        }

        &:hover::before {
            filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(302deg) brightness(108%) contrast(102%);
        }

        &:active::before {
            filter: invert(19%) sepia(31%) saturate(581%) hue-rotate(196deg) brightness(98%) contrast(91%);
        }

        &:hover .icon-menu__num {
            background-color: $white;
            color: $orange;
        }

        &:active .icon-menu__num {
            background-color: $accent;
            color: $white;
        }
    }

    &__num {
        position: absolute;
        min-width: 14px;
        height: 14px;
        padding: 2px;
        border-radius: 50%;
        background-color: $accent;
        top: 7px;
        right: 4px;
        font-size: 10px;
        color: $white;
        text-align: center;
        line-height: 1;
    }


    .search::before {
        background-image: url(../images/sprite.svg#icon-search);
    }

    .cart::before {
        background-image: url(../images/sprite.svg#icon-cart);
    }

}