.main {
    flex: 1 1 auto;
}

.hero {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r($sm) {
            display: block;
            background-image: url(../images/scooter-guy.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            height: 300px;
            width: 100%;
            margin: 0 auto;
            padding: 25px 0;
        }

        @include r($sx) {
            box-shadow: inset 0 0 0 100vh rgba(249, 250, 255, 0.85);
        }
    }

    &__contant {
        max-width: 450px;
    }

    &__highlight {
        font-size: 66px;
        font-family: 'Rubik';
        font-weight: 500;
        line-height: 1.3;
        text-transform: uppercase;
        color: $darkblue;
        margin-bottom: 20px;

        @include r($md) {
            font-size: 56px;
            max-width: 360px;
        }

        @include r($sm) {
            font-size: 40px;
            max-width: 280px;
        }
    }

    &__highlight span {
        color: $accent;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;

        @include r($md) {
            font-size: 18px;
        }

        @include r($sm) {
            font-size: 16px;
            max-width: 375px;
        }


    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__btn {
        line-height: 1.3;
        letter-spacing: 0.03em;
        margin-right: 34px;

        @include r($sm) {
            font-size: 16px;
            padding: 8px 24px;
        }

        @include r($sx) {
            font-size: 14px;
            margin-right: 31px;
        }
    }

    &__link {
        display: block;
        text-decoration: underline;
        font-size: 20px;
        line-height: 1.5;
        color: $darkblue;
        border-radius: 5px;
        transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s, text-decoration-color 0.3s;

        @include r($sm) {
            font-size: 18px;
        }

        @include r($sx) {
            font-size: 16px;
        }
    }

    &__picture {
        display: block;
        max-width: 560px;
        width: 100%;
        height: 660px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include r($sm) {
            display: none;
        }


    }
}

.popular {

    &__title {
        text-align: center;
        margin-bottom: 60px;

        @include r($sx) {
            margin-bottom: 29px;
        }

    }

    &__lists {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        margin-bottom: 45px;

        @include r($lg) {
            gap: 15px;
            justify-content: space-evenly;
        }

        @include r($md) {
            padding: 2px 0 2px 0;
            gap: 14px;
            justify-content: space-evenly;
        }

        @include r($sm) {
            overflow: scroll hidden;
            padding: 2px 0 2px 0;
            gap: 10px;
            justify-content: flex-start;
            margin-bottom: 28px;
        }
    }

    &__btn {
        padding: 23px 30px 22px 88px;
        position: relative;
        border-radius: 5px;
        font-size: 20px;
        white-space: nowrap;
        background-color: $white;
        box-shadow: 0px 0px 0px 1px $grey;
        border-radius: 5px;
        transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s, text-decoration-color 0.3s;

        @include r($lg) {
            padding: 18px 20px 18px 65px;
        }

        @include r($md) {
            padding: 16px 20px 16px 41px;
            font-size: 16px;
        }

        @include r($sx) {
            padding: 12px 16px 12px 41px;
            font-size: 14px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 44px;
            height: 44px;
            top: 50%;
            transform: translate(0, -50%);
            left: 32px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s, text-decoration-color 0.3s, filter 0.1s;

            @include r($lg) {
                width: 38px;
                height: 38px;
                left: 15px;
            }

            @include r($md) {
                width: 25px;
                height: 25px;
                left: 10px;
            }

            @include r($sx) {
                width: 20px;
                height: 29px;
                left: 16px;
            }
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
        }

        &:hover {
            background-color: rgba(255, 122, 80, 0.1);
            box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
            color: $accent;
        }

        &:active {
            box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
            background-color: $white;
            color: $darkblue;
        }

        &:hover::before {
            filter: invert(60%) sepia(63%) saturate(3829%) hue-rotate(333deg) brightness(102%) contrast(116%);
        }

        &:active::before {
            filter: invert(18%) sepia(11%) saturate(2093%) hue-rotate(198deg) brightness(97%) contrast(85%);
        }
    }

    .mixitup-control-active {
        background-color: $accent;
        color: $white;

        &::before {
            filter: invert(100%) sepia(11%) saturate(7469%) hue-rotate(295deg) brightness(112%) contrast(99%);
        }
    }

    .burger::before {
        background-image: url(../images/sprite.svg#icon-category-burger);
    }

    .pizza::before {
        background-image: url(../images/sprite.svg#icon-category-pizza);
    }

    .sandwich::before {
        background-image: url(../images/sprite.svg#icon-category-sandvich);
    }

    .asian::before {
        background-image: url(../images/sprite.svg#icon-category-asia);
    }

    .set::before {
        background-image: url(../images/sprite.svg#icon-category-dish);
    }

}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;

    @include r($lg) {
        gap: 20px;
    }

    @include r($md) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include r($sm) {
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    @include r($sx) {
        gap: 10px 5px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    &__item {
        max-width: 210px;
        width: 100%;
        padding: 20px 15px;
        background-color: $white;
        box-shadow: 0px 0px 0px 1px $grey;
        border-radius: 5px;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0px 0px 0px 1px $accent;
        }

        @include r($sx) {
            padding: 20px 10px;
        }
    }
}

.products-card {

    &__img {
        margin: 0 auto 9px;
    }

    &__title {
        font-size: 15px;
        line-height: 1.2;
        text-align: center;
        min-height: 36px;
        margin-bottom: 14px;
        @include line-clamp(2);
    }

    &__price {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 7px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 7px 16px;
        font-size: 14px;
        line-height: 1.3;
    }

}

.popular__more {
    display: block;
    width: fit-content;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    border-radius: 5px;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.stay-home {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include r($sm) {
            display: block;
            background-image: url(../images/food-delivery.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            height: 462px;
            width: 100%;
            padding: 25px 0;
        }

        @include r($sx) {
            box-shadow: inset 0 0 0 100vh rgba(249, 250, 255, 0.85);
        }

    }

    &__picture {
        max-width: 440px;
        width: 100%;
        height: 585px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateX(-17px);

        @include r($sm) {
            display: none;
        }
    }

    &__content {
        max-width: 470px;
        transform: translateX(17px);

        @include r($sm) {
            margin: 0 0 0 auto;
            transform: translateX(0);
        }
    }

    &__title {
        max-width: 425px;
        margin-bottom: 30px;

        @include r($sm) {
            max-width: 280px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;

        @include r($md) {
            font-size: 18px;
        }

        @include r($sm) {
            font-size: 16px;
        }
    }

    &__lists {
        margin-bottom: 30px;

        @include r($sm) {
            margin-bottom: 18px;
        }

    }

    &__item {
        margin-bottom: 20px;

        @include r($sm) {
            margin-bottom: 15px;
        }
    }

    &__point {
        font-size: 24px;
        line-height: 1.5;
        padding-left: 64px;
        position: relative;

        @include r($md) {
            font-size: 20px;
            padding-left: 56px;
        }

        @include r($sm) {
            font-size: 18px;
            line-height: 1.9;
            padding-left: 47px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 34px;
            height: 34px;
            top: -7px;
            left: 0;
        }

    }

    .time::before {
        background-image: url(../images/sprite.svg#icon-timer);
        filter: invert(48%) sepia(95%) saturate(1523%) hue-rotate(336deg) brightness(100%) contrast(102%);
    }

    .delivery::before {
        background-image: url(../images/sprite.svg#icon-delivery);
        filter: invert(53%) sepia(51%) saturate(5133%) hue-rotate(174deg) brightness(106%) contrast(102%);
    }

    .rest::before {
        background-image: url(../images/sprite.svg#icon-restorant);
        filter: invert(23%) sepia(77%) saturate(4047%) hue-rotate(350deg) brightness(111%) contrast(108%);
    }

    &__btn {
        @include r($md) {
            font-size: 16px;
        }

        @include r($sm) {
            font-size: 14px;
            padding: 13px 34px;
        }
    }

}

.restaurants {

    &__title {
        text-align: center;
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.2;

        @include r($sm) {
            font-size: 24px;
            margin-bottom: 31px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include r($lg) {
            justify-content: space-around;
        }

        @include r($md) {
            gap: 20px;
            justify-content: space-around;
        }

        @include r($sm) {
            display: block;
            justify-content: center;
            max-width: 345px;
            width: 100%;
            margin: 0 auto;
        }

        .slick-list {
            max-width: 345px;
            margin: 0 auto 30px;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            @include r($sm) {
                margin: 0 auto 24px;
            }

            &:hover {
                box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            gap: 15px;

            li {
                button {
                    padding: 0;
                    font-size: 0;
                    background-color: transparent;
                    width: 15px;
                    height: 15px;
                    background-color: $dark-grey;
                    border-radius: 50%;
                    transition: box-shadow 0.3s, background-color 0.3s;

                    &:focus {
                        background-color: $dark-grey;
                        box-shadow: 0px 0px 0px 2px $accent;
                    }

                    &:hover {
                        background-color: $dim-white;
                        box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
                    }

                    &:active {
                        box-shadow: none;
                        background-color: $hover-color;
                    }
                }

                &.slick-active {
                    button {
                        background-color: $orange;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    &__item {
        border-radius: 10px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
        background-color: $white;
        transition: box-shadow 0.3s;

        @include r($sm) {
            box-shadow: none;
            max-width: 345px;
        }

        &:hover {
            box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);

            @include r($sm) {
                box-shadow: none;
            }
        }
    }
}

.restaurants-card {

    &__img {
        border-radius: 10px 10px 0 0;

        @include r($md) {
            width: 345px;
        }
    }

    &__wrapper {
        padding: 16px 21px 19px;
    }

    &__title {
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 1.3;
        @include line-clamp(2);
    }

    &__time {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.67;
        padding-left: 32px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            top: 4px;
            left: -2px;
            background-image: url(../images/sprite.svg#icon-time);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        position: relative;
        width: 79px;
        height: 33px;
        background-color: $accent;
        border-radius: 20px;
        transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 12px;
            top: 11px;
            left: 33px;
            background-image: url(../images/sprite.svg#icon-arrow-right);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            filter: invert(99%) sepia(1%) saturate(2485%) hue-rotate(186deg) brightness(119%) contrast(100%);
            transition: filter 0.3s, left 0.3s;
        }
    }

}

.review {
    &__slider {
        max-width: 990px;
        margin: 0 auto;
    }

    &__item {
        margin-bottom: 47px;

        @include r($sx) {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 50px;
        text-align: center;

        @include r($sm) {
            margin-bottom: 30px;
        }

    }

    &__content {
        display: flex;

        @include r($sm) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__img {
        margin-right: 40px;
        border-radius: 50%;

        @include r($sm) {
            margin: 0;
        }

        @include r($sx) {
            width: 100px;
            height: 100px;
        }
    }

    &__quote {
        padding: 28px 40px 0 40px;
    }

    &__text {
        font-style: italic;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
        position: relative;

        @include r($sm) {
            font-size: 18px;
        }

        @include r($sx) {
            font-size: 14px;
            margin-bottom: 21px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: -1px;
            left: -40px;
            background-image: url(../images/sprite.svg#icon-quote-open);
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(349deg) brightness(97%) contrast(87%);

            @include r($sx) {
                top: -10px;
                left: -34px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            bottom: -1px;
            right: -40px;
            background-image: url(../images/sprite.svg#icon-quote-close);
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(349deg) brightness(97%) contrast(87%);

            @include r($sx) {
                bottom: 9px;
                right: -34px;
            }
        }

    }


    &__author {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: $accent;

        @include r($sx) {
            font-size: 16px;
        }
    }

    &__caption {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        color: $default-color;
        padding-top: 16px;

        @include r($sx) {
            padding-top: 11px;
        }
    }

    .slick-arrow {
        position: absolute;
        font-size: 0;
        width: 40px;
        height: 40px;

        border-radius: 50%;
        bottom: -12px;
        z-index: 5;
        transition: box-shadow 0.3s, border 0.3s, background-color 0.3s;
        border: 3px solid $orange;

        @include r($sm) {
            display: none;
            bottom: 0;
            top: 30%;
        }

        @include r($sx) {
            top: 91px;
        }

        &:focus {
            outline: transparent;
            box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
            border: 3px solid transparent;
        }

        &:hover {
            background-color: $dim-white;
            border: 3px solid $hover-color;
            box-shadow: none;

            &::before {
                filter: invert(87%) sepia(23%) saturate(1578%) hue-rotate(302deg) brightness(106%) contrast(100%);
            }
        }

        &:active {
            background-image: $dim-white;
            border: 3px solid $dim-white;
            box-shadow: none;

            &::before {
                filter: invert(64%) sepia(11%) saturate(6257%) hue-rotate(325deg) brightness(100%) contrast(102%);
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            top: 8px;
            left: 8px;
            filter: invert(65%) sepia(84%) saturate(2557%) hue-rotate(326deg) brightness(101%) contrast(102%);
            transition: filter 0.3s;
        }
    }

    .slick-disabled{
        border: 3px solid $dark-grey;

        &::before {
            filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(349deg) brightness(97%) contrast(87%);
        }
    }

    .slick-prev {
        left: 39%;

        @include r($md) {
            left: 36%;
        }

        @include r($sm) {
            left: 10%;
        }

        &::before {
            background-image: url(../images/sprite.svg#icon-left);
        }
    }

    .slick-next {
        right: 38%;

        @include r($md) {
            right: 36%;
        }

        @include r($sm) {
            right: 10%;
        }

        &::before {
            background-image: url(../images/sprite.svg#icon-right);
        }
    }

    .btn-active {
        
    }


    .slick-dots {
        display: flex;
        justify-content: center;
        gap: 15px;

        @include r($sm) {
            display: none;
        }

        li {
            button {
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 15px;
                height: 15px;
                background-color: $dark-grey;
                border-radius: 50%;
                transition: box-shadow 0.3s, background-color 0.3s;

                @include r($sm) {
                    display: none;
                }

                &:focus {
                    background-color: $dark-grey;
                    box-shadow: 0px 0px 0px 2px $accent;
                }

                &:hover {
                    background-color: $dim-white;
                    box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
                }

                &:active {
                    box-shadow: none;
                    background-color: $hover-color;
                }
            }

            &.slick-active {
                button {
                    background-color: $orange;
                    border-radius: 50%;
                }
            }
        }
    }
}

.app {
    padding-top: 13px;

    @include r($sx) {
        padding-top: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r($md) {}
    }

    &__content {
        max-width: 540px;
        width: 100%;
    }

    &__picture {
        max-width: 570px;
        width: 100%;
        height: 380px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include r($md) {
            display: none;
        }

    }

    &__title {
        margin-bottom: 47px;

        @include r($md) {
            margin-bottom: 35px;
        }

        @include r($sx) {
            margin-bottom: 12px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 28px;

        @include r($md) {
            font-size: 16px;
        }

        @include r($sx) {
            font-size: 14px;
            margin-bottom: 15px;
        }

    }

    &__items {
        display: flex;
        gap: 30px;
    }

}