.restaurants-card {

    &__img {
        border-radius: 10px 10px 0 0;
        background-size: cover;

    }

    &__wrapper {
        padding: 16px 21px 19px;
        max-width: 370px;
    }

    &__title {
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 1.3;
        @include line-clamp(2);
    }

    &__time {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.67;
        padding-left: 32px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            top: 4px;
            left: -2px;
            background-image: url(../images/sprite.svg#icon-time);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        position: relative;
        width: 79px;
        height: 33px;
        background-color: $accent;
        border-radius: 20px;
        transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

        &:focus{
            @include focus-btn;

            &::before{
                filter: invert(51%) sepia(90%) saturate(2286%) hue-rotate(337deg) brightness(101%) contrast(101%);
            }
        }

        &:hover{
            @include hover-btn;

            &::before{
                filter: invert(51%) sepia(90%) saturate(2286%) hue-rotate(337deg) brightness(101%) contrast(101%);
                left: 53px;
            }
        }

        &:active{
            @include active-btn;

            &::before{
                filter: invert(51%) sepia(90%) saturate(2286%) hue-rotate(337deg) brightness(101%) contrast(101%);
                left: 33px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 12px;
            top: 11px;
            left: 33px;
            background-image: url(../images/sprite.svg#icon-arrow-right);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            filter: invert(99%) sepia(1%) saturate(2485%) hue-rotate(186deg) brightness(119%) contrast(100%);
            transition: filter 0.3s, left 0.3s;
        }
    }

}