<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__sub">
                <a class="logo" href="#">
                    <img class="logo__img footer__images" src="images/Logo.svg" width="200" height="39"
                        alt="logo">
                </a>
                <form class="footer__form" name="form" action="#">
                    <label class="footer__label" for="email">
                        <span class="sr-only">Введите электроную почту</span>
                    </label>
                    <input class="footer__input" type="email" id="email1" name="email" placeholder="Ваш email"
                        required>
                    <button class="btn footer__btn" type="submit">
                        Подписаться
                    </button>
                </form>
            </div>
            <ul class="footer__menu">
                <li class="footer__list">
                    <a href="#" class="footer__link">Как это работает</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Продукты</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Блюда</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Меню</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">О нас</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Новости</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Партнеры</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">ЧаВо</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Скачать приложение</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Блог</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Что нового?</a>
                </li>
                <li class="footer__list">
                    <a href="#" class="footer__link">Карта сайта </a>
                </li>
            </ul>
            <address class="contacts">
                <ul class="contacts__items">
                    <li class="contacts__item">
                        <a class="contacts__data location" href="#">ул. Т.Г.Шевченко, 1</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__data call" href="tel:+380501112233">380501112233</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__data message" href="mailto:support@sfood.com">support@sfood.com</a>
                    </li>
                </ul>
                <ul class="contacts__soc-items">
                    <li class="contacts__icon">
                        <a href="#" class="contacts__icon-link">
                            <span class="sr-only">Перейти на facebook</span>
                            <span class="contacts__img"
                                style="background-image: url(images/sprite.svg#icon-facebook);"></span>
                        </a>
                    </li>
                    <li class="contacts__icon">
                        <a href="#" class="contacts__icon-link">
                            <span class="sr-only">Перейти на twitter</span>
                            <span class="contacts__img"
                                style="background-image: url(images/sprite.svg#icon-twitter);"></span>
                        </a>
                    </li>
                    <li class="contacts__icon">
                        <a href="#" class="contacts__icon-link">
                            <span class="sr-only">Перейти на instagram</span>
                            <span class="contacts__img"
                                style="background-image: url(images/sprite.svg#icon-instagram);"></span>
                        </a>
                    </li>
                </ul>
            </address>
        </div>
        <div class="footer__bottom">
            <span class="footer__accept">© 2022 Simple Food</span>
        </div>
    </div>
</footer>