 <header class="header">
            <div class="container">

                <nav class="menu">
                    <a class="logo" href="#">
                        <img class="logo__img" src="images/Logo.svg" width="200" height="39" alt="logo">
                    </a>

                    <ul class="menu-top">
                        <li class="menu-top__item">
                            <a class="menu-top-link menu-top-link--active" href="#head">Главная</a>
                        </li>
                        <li class="menu-top__item">
                            <a class="menu-top-link" href="#popular">Блюда</a>
                        </li>
                        <li class="menu-top__item">
                            <a class="menu-top-link" href="#footer">Контакты</a>
                        </li>
                    </ul>

                    <ul class="icon-menu">
                        <li class="icon-menu__list">
                            <button class="icon-menu__btn search" type="button">
                                <span class="sr-only">Поиск</span>
                            </button>
                        </li>
                        <li class="icon-menu__list">
                            <button class="icon-menu__btn cart" type="button">
                                <span class="icon-menu__num">4</span>
                                <span class="sr-only">Корзина</span>
                            </button>
                        </li>
                    </ul>

                    <div class="sidebar-nav">
                        <div class="sidebar-nav__head">
                            <a class="logo" href="#">
                                <img class="logo__img sidebar-nav__img" src="images/Logo.svg" width="200" height="39"
                                    alt="logo">
                            </a>
                            <button class="button-close"></button>
                        </div>
                        <div class="sidebar-nav__menu">
                            <ul class="sidebar-nav__items">
                                <li class="sidebar-nav__item">
                                    <a class="menu-top-link menu-top-link--active" href="#head">Главная</a>
                                </li>
                                <li class="sidebar-nav__item">
                                    <a class="menu-top-link" href="#popular">Блюда</a>
                                </li>
                                <li class="sidebar-nav__item">
                                    <a class="menu-top-link" href="#footer">Контакты</a>
                                </l-
                            </ul>
                        </div>
                        <address class="contacts">
                            <ul class="contacts__items">
                                <li class="contacts__item">
                                    <a href="" class="contacts__data location">ул. Т.Г.Шевченко, 1</a>
                                </li>
                                <li class="contacts__item">
                                    <a class="contacts__data call" href="tel:+380501112233">380501112233</a>
                                </li>
                                <li class="contacts__item">
                                    <a class="contacts__data message"
                                        href="mailto:support@sfood.com">support@sfood.com</a>
                                </li>
                            </ul>
                            <ul class="contacts__soc-items">
                                <li class="contacts__icon">
                                    <a href="#" class="contacts__icon-link">
                                        <span class="sr-only">Перейти на facebook</span>
                                        <span class="contacts__img"
                                            style="background-image: url(images/sprite.svg#icon-facebook);"></span>
                                    </a>
                                </li>
                                <li class="contacts__icon">
                                    <a href="#" class="contacts__icon-link">
                                        <span class="sr-only">Перейти на twitter</span>
                                        <span class="contacts__img"
                                            style="background-image: url(images/sprite.svg#icon-twitter);"></span>
                                    </a>
                                </li>
                                <li class="contacts__icon">
                                    <a href="#" class="contacts__icon-link">
                                        <span class="sr-only">Перейти на instagram</span>
                                        <span class="contacts__img"
                                            style="background-image: url(images/sprite.svg#icon-instagram);"></span>
                                    </a>
                                </li>
                            </ul>
                        </address>
                    </div>
                    <button class="menu__burger" type="button">
                        <span class="menu__burger__line"></span>
                        <span class="sr-only">Открыть меню</span>
                    </button>
                </nav>
            </div>
        </header>