<section class="hero indent">
    <div class="container">
        <h1 class="sr-only"> SimpleFood cамый быстрый сервис доставки еды.</h1>
        <div class="hero__inner">
            <div class="hero__contant">
                <div class="hero__highlight">
                    Доставка
                    <span>за 15 минут</span>
                </div>
                <div class="hero__text">
                    <p>
                        Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за
                        наш
                        счёт
                    </p>
                </div>
                <div class="hero__buttons">
                    <button class="btn hero__btn" type="button">Заказать</button>
                    <a class="hero__link" href="">Подробнее</a>
                </div>
            </div>
            <div class="hero__picture" style="background-image: url(images/scooter-guy.png);"></div>
        </div>
    </div>
</section>