<section class="popular indent" id="popular">
                <div class="container">
                    <div class="popular__inner">
                        <h2 class="title popular__title">
                            Популярные категории
                        </h2>
                        <ul class="popular__lists">
                            <li class="popular__item">
                                <button class="popular__btn burger " data-filter="all" type="button">
                                    Бургеры
                                </button>
                            </li>
                            <li class="popular__item">
                                <button class="popular__btn pizza" data-filter=".category-b" type="button">
                                    Пицца
                                </button>
                            </li>
                            <li class="popular__item">
                                <button class="popular__btn sandwich" data-filter=".category-c" type="button">
                                    Сендвичи
                                </button>
                            </li>
                            <li class="popular__item">
                                <button class="popular__btn asian" data-filter=".category-d" type="button">
                                    Азиатская кухня
                                </button>
                            </li>
                            <li class="popular__item">
                                <button class="popular__btn set" data-filter=".category-e" type="button">
                                    Cеты
                                </button>
                            </li>
                        </ul>


                        <ul class="products">
                            <li class="products__item mix category-a">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-1.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Чизбургер с листьями салата</h3>
                                    </a>
                                    <span class="products-card__price">160 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-b">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-2.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Бифбургер</h3>
                                    </a>
                                    <span class="products-card__price">190 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-c">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-3.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Королевский чизбургер</h3>
                                    </a>
                                    <span class="products-card__price">260 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-d">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-4.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Черный гамбургер</h3>
                                    </a>
                                    <span class="products-card__price">199 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-e">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-5.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Чикен бургер</h3>
                                    </a>
                                    <span class="products-card__price">180 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-a">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-1.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Чизбургер с листьями салата</h3>
                                    </a>
                                    <span class="products-card__price">160 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-b">
                                <article class="products-card">
                                    <a class="products-car__link" href="#">
                                        <img class="products-card__img" src="images/burger-2.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Бифбургер</h3>
                                    </a>
                                    <span class="products-card__price">190 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-c">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-3.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Королевский чизбургер</h3>
                                    </a>
                                    <span class="products-card__price">260 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                            <li class="products__item mix category-d">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-4.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Черный гамбургер</h3>
                                    </a>
                                    <span class="products-card__price">199 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>

                            <li class="products__item mix category-d">
                                <article class="products-card">
                                    <a class="products-card__link" href="#">
                                        <img class="products-card__img" src="images/burger-5.jpg" width="140"
                                            height="140" alt="Бургер">
                                        <h3 class="products-card__title">Чикен бургер</h3>
                                    </a>
                                    <span class="products-card__price">180 <span>грн.</span></span>
                                    <button class="btn products-card__btn" type="button">В корзину</button>
                                </article>
                            </li>
                        </ul>
                        <button class="popular__more">Показать еще</button>
                    </div>
                </div>
            </section>