<section class="promo indent">
    <div class="container">
        <h2 class="promo__title title">Акции и скидки</h2>
        <ul class="restaurants__items">
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/blaze.jpg" width="370" height="300"
                            alt="Blaze Pizza">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <p class="promo__text">Скидка 50% на вторую пиццу </p>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/kfc.jpg" width="370" height="300" alt="KFC">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <p class="promo__text">Картошечка из KFC даром при заказе бургера </p>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/star-burgers.jpg" width="370" height="300"
                            alt="Star Burgers">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <p class="promo__text">Чёрные бургеры на чёрный день </p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>