<section class="restaurants indent">
    <div class="container">
        <h2 class="restaurants__title">Лучшие рестораны</h2>
        <ul class="restaurants__items">
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/blaze.jpg" width="370" height="300"
                            alt="Blaze Pizza">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <a class="restaurants-card__link-title" href="#">
                            <h3 class="restaurants-card__title">Blaze Pizza</h3>
                        </a>
                        <div class="restaurants-card__box">
                            <span class="restaurants-card__time">11:00 - 22:00</span>
                            <button class="restaurants-card__btn"></button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/runcho.jpg" width="370" height="300"
                            alt="Pizza Runcho">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <a class="restaurants-card__link-title" href="#">
                            <h3 class="restaurants-card__title">Pizza Runcho</h3>
                        </a>
                        <div class="restaurants-card__box">
                            <span class="restaurants-card__time">12:00 - 21:00</span>
                            <button class="restaurants-card__btn"></button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/hut.jpg" width="370" height="300"
                            alt="Pizza Hut">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <a class="restaurants-card__link-title" href="#">
                            <h3 class="restaurants-card__title">Pizza Hut</h3>
                        </a>
                        <div class="restaurants-card__box">
                            <span class="restaurants-card__time">11:00 - 22:00</span>
                            <button class="restaurants-card__btn"></button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/mcdonalds.jpg" width="370"
                            height="300" alt="McDonald`s">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <a class="restaurants-card__link-title" href="#">
                            <h3 class="restaurants-card__title">McDonald`s</h3>
                        </a>
                        <div class="restaurants-card__box">
                            <span class="restaurants-card__time">06:00 - 23:00</span>
                            <button class="restaurants-card__btn"></button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/kfc.jpg" width="370" height="300"
                            alt="KFC">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <a class="restaurants-card__link-title" href="#">
                            <h3 class="restaurants-card__title">KFC</h3>
                        </a>
                        <div class="restaurants-card__box">
                            <span class="restaurants-card__time">06:00 - 23:30</span>
                            <button class="restaurants-card__btn"></button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurants-card">
                    <a class="restaurants-card__link-img" href="#">
                        <img class="restaurants-card__img" src="images/star-burgers.jpg" width="370"
                            height="300" alt="Star Burgers">
                    </a>
                    <div class="restaurants-card__wrapper">
                        <a class="restaurants-card__link-title" href="#">
                            <h3 class="restaurants-card__title">Star Burgers</h3>
                        </a>
                        <div class="restaurants-card__box">
                            <span class="restaurants-card__time">09:00 - 21:00</span>
                            <button class="restaurants-card__btn"></button>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>