<section class="review indent">
    <div class="container">
        <div class="review__slider">
            <div class="review__item">
                <h2 class="title review__title">Отзывы клиентов</h2>
                <div class="review__content">
                    <img class="review__img" src="images/dasha.jpg" width="300" height="300"
                        alt="Фотография Даши">
                    <figure class="review__quote">
                        <blockquote class="review__text">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                            Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                            Компания часто проводит акции и дарит скидки на доставку - однозначно
                            рекомендую!
                        </blockquote>
                        <figcaption class="review__author">
                            Дарья
                            <span class="review__caption">Ценитель вкусной еды</span>
                        </figcaption>

                    </figure>
                </div>
            </div>
            <div class="review__item">
                <h2 class="title review__title">Отзывы клиентов</h2>
                <div class="review__content">
                    <img class="review__img" src="images/dasha.jpg" width="300" height="300"
                        alt="Фотография Даши">
                    <figure class="review__quote">
                        <blockquote class="review__text">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                            Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                            Компания часто проводит акции и дарит скидки на доставку - однозначно
                            рекомендую!
                        </blockquote>
                        <figcaption class="review__author">
                            Дарья
                            <span class="review__caption">Ценитель вкусной еды</span>
                        </figcaption>

                    </figure>
                </div>

            </div>
            <div class="review__item">
                <h2 class="title review__title">Отзывы клиентов</h2>
                <div class="review__content">
                    <img class="review__img" src="images/dasha.jpg" width="300" height="300"
                        alt="Фотография Даши">
                    <figure class="review__quote">
                        <blockquote class="review__text">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                            Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                            Компания часто проводит акции и дарит скидки на доставку - однозначно
                            рекомендую!
                        </blockquote>
                        <figcaption class="review__author">
                            Дарья
                            <span class="review__caption">Ценитель вкусной еды</span>
                        </figcaption>

                    </figure>
                </div>

            </div>
            <div class="review__item">
                <h2 class="title review__title">Отзывы клиентов</h2>
                <div class="review__content">
                    <img class="review__img" src="images/dasha.jpg" width="300" height="300"
                        alt="Фотография Даши">
                    <figure class="review__quote">
                        <blockquote class="review__text">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                            Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                            Компания часто проводит акции и дарит скидки на доставку - однозначно
                            рекомендую!
                        </blockquote>
                        <figcaption class="review__author">
                            Дарья
                            <span class="review__caption">Ценитель вкусной еды</span>
                        </figcaption>

                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>