<section class="stay-home indent">
    <div class="container">
        <div class="stay-home__inner">
            <div class="stay-home__picture" style="background-image: url(images/food-delivery.png);"></div>
            <div class="stay-home__content">
                <h2 class="title stay-home__title">
                    Оставайтесь дома,
                    а мы позаботимся о еде
                </h2>
                <div class="stay-home__text">
                    <p>
                        У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей
                        доставкой прямо сейчас и получите скиидку!
                    </p>
                </div>

                <ul class="stay-home__lists">
                    <li class="stay-home__item">
                        <span class="stay-home__point time">
                            Быстрая доставка за 15 минут
                        </span>
                    </li>
                    <li class="stay-home__item">
                        <span class="stay-home__point delivery">
                            Вежливые курьеры
                        </span>
                    </li>
                    <li class="stay-home__item">
                        <span class="stay-home__point rest">
                            Более 500 заведений
                        </span>
                    </li>
                </ul>
                <a class="btn stay-home__btn" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</section>